
@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200..900;1,200..900&display=swap');

html, body {
      height: 100%;
      margin: 0;
    }

    body {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-image: url('img/background_nuage.png');
    }

.vertical-container {
  height: 220px;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center; /* centre horizontalement /
  align-items: center;     / centre verticalement */
  font-family: sans-serif;
  font-size: 1.2rem;
}

.vertical-scroll {
  animation: scroll-up 15s linear forwards;
  text-align: center;
}

.vertical-scroll p {
  margin: 0;
  padding: 10px 0;
}

@keyframes scroll-up {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(-164%);
  }
}


    img{
        max-width: 70%;
        height: auto;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        margin-bottom: 20px;
       animation: delayeimage 40s;

    }

    @keyframes delayeimage {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

    .cta {
      width: 140px;
      height: 45px;
      border: 2px solid #003F56;
      border-radius: 32px;
      background-color: #D4E9EB;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 18px;
      font-weight: bold;
      text-decoration: none;
      color: #003F56;
      transition: background-color 0.3s, color 0.3s;
      animation: delayecta 40s;
    }

       @keyframes delayecta {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

    .cta:hover {
      background-color: #003F56;
       border: 2px solid #D4E9EB;
      color: white;
    }
